.profile_wrap {
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
  border-bottom: 1px solid #eee;

  &.skeleton {
    .user_icon_wrap {
      @include skeleton
    }

    .user_name {
      width: 100px;
      height: 1rem;
      @include skeleton
    }

    .count div {
      width: 50px;
      height: 1rem;
      @include skeleton
    }
  }

  .profile_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 10px;

    .user_icon_wrap {
      width: 30px;
      height: 30px;

      img {
        border-radius: 100px;
      }
    }

    .user_name {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .profile_followBtn {
    &.active {
      background: #77f;
      border: 1px solid #77e;
    }

    padding: 5px 7px;
    background: #eeeeee;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
  }

  .count {
    display: flex;
    align-items: center;
    gap: 4px;

    i {
      font-size: 13px;
      color: #aaa;
      font-weight: 400;
      font-style: normal;
    }

    div {
      font-size: 15px;
      font-weight: 500;
    }
  }
}


.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 15px;
  height: 100%;
  box-sizing: border-box;
}