@mixin skeleton {
  background: linear-gradient(120deg, #ededed 30%, #f1f1f1 38%, #f1f1f1 40%, #ededed 48%);
  border-radius: 1rem;
  background-size: 200% 100%;
  animation: load 1.5s infinite;
}

@keyframes load {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}